<!DOCTYPE html>
<html>
<head>
    <title>Job Postings</title>
</head>
<body>
    <ul>
        {% for job_posting in job_postings %}
        <li>
            <h1><strong>ID:</strong> {{ job_posting._id }}</h1>
            <p><strong>Title: {{ job_posting.title }}</strong></p>
            <p><strong>Location:</strong> {{ job_posting.location }}</p>
            <p><strong>Department:</strong> {{ job_posting.department }}</p>
            <p><strong>Salary Range:</strong> {{ job_posting.minsalaryrange }} - {{ job_posting.maxsalaryrange }}</p>
            <p><strong>Description:</strong> {{ job_posting.description }}</p>
            <p><strong>Requirements:</strong> {{ job_posting.requirements }}</p>
            <p><strong>Benefits:</strong> {{ job_posting.benefits }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>