<!DOCTYPE html>
<html>
<head>
    <title>Job Seekers Details</title>
</head>
<body>
    <ul>
        {% for job_seeker in job_seekers %}
        <li>
            <h1><strong>ID:</strong> {{ job_seeker._id }}</h1>
            <p><strong>First name:</strong> {{ job_seeker.firstname }}</p>
            <p><strong>Last name:</strong> {{ job_seeker.lastname }}</p>
            <p><strong>Job title:</strong> {{ job_seeker.jobtitle }}</p>
            <p><strong>Company name:</strong> {{ job_seeker.companyname }}</p>
            <p><strong>Education level:</strong> {{ job_seeker.educationlevel }}</p>
            <p><strong>Study field:</strong> {{ job_seeker.studyfield }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>